body {
  	font-family: Verdana, Arial, Helvetica, sans-serif;
  	background-color:#000000;
}
body a{
	color:#FFFFFF;
}
#wrapper {
	z-index:-1;
	width: 920px;
	border: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	color:#FFFFFF;
}
#menu {
	background-image:url(images/Header-1000.jpg);
	height:50px;
	color:#CC0000;
	font-weight:normal;
	font-size:17px;
	text-align:right;
	padding:140px 0 0 485px; 
}
#menu a{
	text-decoration:none;
	color:#CC0000;
}
#menu a:hover{
	color:#FFFFFF;
	text-decoration:underline;
}
#menu-active{
color:#FFFFFF;
}
#menu ul{
	margin: 0;
    padding: 0;
    list-style-type: none;
}
#menu li{
	float:left;
	padding-left:5px;
}
#content {
	font-size:.75em;
	width:800px;
	margin-left: auto;
	margin-right: auto;
	text-align:justify;
	color:#FFFFFF;
}
#content h1 {
	font-size:1.7em;
	font-weight:normal;
	padding: 0;
	margin: 4px 0 4px 0;
	color:#CC0000;
}
#content h2{
	font-size:1.3em;
	margin:0 0 2px 0;
	color:#CC0000;
}
#content h3{
	font-size:1.1em;
	color:#CC0000;
	padding: 0;
	margin: 0;
}
#content p{
	margin-top:0;
	margin-bottom:15px;
	line-height:140%;
}
#content ul{
	line-height:140%;
}
#content img.left{
	margin:0px 10px 0px 0px;
	float:left;
}
#content img.right{
	margin:0px 4px 0px 10px;
	float:right;
}
#content table{
border-collapse:collapse;
margin-top:3px;
}
#content td{
	padding:4px;
}
.newsbar{
	width:240px;
	float:left;
}
.newsitem{
font-size:.6em;
	padding-left:5px;
	padding-right:5px;
	border:1px solid #FF0000;
}
#footer{
	width:800px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	color:#FFFFFF;
	font-size:10px;
	padding-top:10px;
	clear:both;
}
#footer img{
	margin-right:20px;
	vertical-align:middle;
	border:0;
}
#footer img.right{
	margin-right:0px;
}

